

.meHeader
{
    grid-template-rows: 70px 200px 180px; 
}


.myProfile
{
    width: 120px;
    height: 120px;
    border: 2px solid black;
}

.portaSocialNet
{
    width: 100%;
    height: 100%;
}

.myNetworks
{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/* Main */
.meMain
{
    height: 300px;
    grid-template-rows: 70px 150px;
}

.mainTitle
{
    width: 100%;
}

.titleProyectos
{
    width: 100%;
    font-size: 1.8rem;

}

.mainProjects
{
    width: 80%;
}

.projectLink
{
    width: 100%;
    height: 30px;
    font-size: 1.6rem;
}


/* Footer */

.meFooter
{
    height: 40px;
}

.piePagina
{
    font-size: 1.2rem;
}