:root
{
     /* Colors */
     --white: white;
     --black_guitar: #121212;
     --gray_guitar: #666666;
     --gray-dark_guitar: #A4A4A4;
     --gray-guitar-dark: #262626;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}

a
{
    font-size: 1.6rem;
}

/* styleHeader.css */

/* styleMain.css */

/* styleFooter.css */







