
/* Main */

.meMain
{
    width: 100%;        
}

.meMain-sectionPortafolio
{
    display: grid;
    grid-template-rows: 20px 10px repeat(3, 300px);
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    margin-bottom: 60px;
}

.meMain-titleProyectos
{
    width: 90%;
    height: 20px;
    font-size: 1.6rem;
    letter-spacing: 2px;
    text-align: center; 
    grid-row: 1 / 2;
}

.meline
{
    width: 90%;
    height: 2px;
    background-color: gray;
    align-self: center;
    grid-row: 2 / 3;
}

.meMain-divPro
{
    width: 90%;
    height: 258px;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #dadada;
    padding: 10px;
    border-radius: 12px;
    grid-column: 1 / 2;
    text-decoration: none;    
}

.meMain-divPro3
{
    grid-row: 3 / 4;
}

.meMain-divPro2
{
    grid-row: 4 / 5;
}

.meMain-divPro1
{
    grid-row: 5 / 6;
}

.meMain-divPro-image
{
    display: block;
    width: 100%;
    height: 160px;    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 10px;
}

.divPro-image3
{
    background-image: url(/assets/projectsImages/03_proyecto.png);
}

.divPro-image2
{
    background-image: url(/assets/projectsImages/02_proyecto.png);
}

.divPro-image1
{
    background-image: url(/assets/projectsImages/01_proyecto.png);
}

.meMain-divPro-title
{
    width: 90%;
    font-size: 1.6rem;
    color: var(--black_guitar);
}

.meMain-divPro-parrafo
{
    width: 90%;
    font-size: 1.4rem;
    color: var(--black_guitar);
}



/* Skills */

.meMain-sectionSkills
{
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-rows: 20px 10px ;
    grid-template-columns: 100%;    
    justify-items: center;
    align-items: center;
    margin-bottom: 60px;
}


.meMain-tableSkills
{
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(3, 33.33%);
}

.tableSkills
{
    width: 80%;
    height: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;   
    justify-self: center;
    align-self: center; 
}

.tableSkills-html
{
    background-image: url(/assets/iconsSkills/html-5.png);
}

.tableSkills-css
{
    background-image: url(/assets/iconsSkills/css-3.png);
}

.tableSkills-javaScript
{
    background-image: url(/assets/iconsSkills/js.png);
}

.tableSkills-git
{
    background-image: url(/assets/iconsSkills/git.png);
}

.tableSkills-gitHub
{
    background-image: url(/assets/iconsSkills/github.png);
}

.tableSkills-terminal
{
    background-image: url(/assets/iconsSkills/terminal.png);
}

.tableSkills-npm
{
    background-image: url(/assets/iconsSkills/npm.svg);
}

.tableSkills-typeScript
{
    background-image: url(/assets/iconsSkills/typeScript.png);
}

.tableSkills-arduino
{
    background-image: url(/assets/iconsSkills/arduino.png);
}



/* Networks */

.meMain-portaSocialNet
{
    width: 100%;
    height: 220px;
    display: grid;
    grid-template-rows: 20px 10px ;
    grid-template-columns: 100%;    
    justify-items: center;
    align-items: center;
    margin-bottom: 40px;
}

.myNetworks
{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.networkSocial
{
    width: 138px;
    height: 28px;
    display: flex;    
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 1px;
    align-items: center;
    border-radius: 30px;    
    font-size: 1.4rem;
    color: var(--white);
    
    text-decoration: none;
}

.networkInsta_logo
{
    width: 48px;
    height: 26px;  
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    border-radius: 0px 30px 30px 0px;  
}

.insta_logo
{
    background-image: url(/assets/icons/instagram.svg);
    background-color: white;
}

.github_logo
{
    background-image: url(/assets/icons/github.png);
    background-color: white;
}

.twitter_logo
{
    background-image: url(/assets/icons/twitter.svg);
    background-color: white;
}

.color-insta
{
    background-color: rgb(221, 42, 123);
}

.color-gitHub
{
    background-color: #171717;
}

.color-twitter
{
    background-color: rgb(8,160, 233);
}
